@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");

body {
  color: #f8f8f2;
  font-family: "Montserrat", sans-serif;
}

.intro-left {
  background: url("img/bg.png");
  background-repeat: repeat;
  position: fixed;
  left: 0;
  width: 33.3333%;
  height: 100%;
}

.avatar {
  margin: 1rem;
}

@media (max-width: 768px) {
  .intro-left {
    height: 30vh;
    margin-bottom: 0;
    position: relative;
    width: 100%;
  }
}

.full-height {
  height: 100%;
}

.quote {
  float: right;
}

section {
  margin: 5rem;
  font-size: 1.2rem;
}

.float-right {
  float: right;
}

.panel-right {
  background-color: #44475a;
}

.gradient-text {
  background-color: #ffb86c;
  background-image: linear-gradient(45deg, #bd93f9, #ff79c6, #ffb86c);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.plex-mono {
  font-family: "IBM Plex Mono", monospace;
}

.oswald {
  font-family: "Oswald", sans-serif;
  font-style: italic;
}
